<div>
    <div class="exception-body notfound-page" style="width:400px;position: absolute;left: 50%;top: 50%;
    -webkit-transform: translate(-50%, -50%);transform: translate(-50%, -50%);">
        <div class="card exception-panel" >
            <h1>Página no encontrada</h1>
            <div class="exception-detail">El recurso que está buscando no existe.</div>
            <!-- <a href="/" class="ui-button secondary">
                <span class="ui-button-text">Página principal</span>
            </a> -->
            <button mat-button style="height:35px; width: 40px;" >
                <mat-icon (click)="logout()">exit_to_app</mat-icon>
            </button>
        </div>
    </div>
</div>
